langchain_community
langchain_openai
langchain_groq
langchain_chroma
langchain_voyageai
langchain
langchain_core
streamlit_js_eval
streamlit
bs4
langchain_text_splitters
wikipedia-api
chromadb
sqlite3>=3.35.0